{% extends 'themes/base.html.twig' %}

{% block title %}Page d'exemples photo
{% endblock %}

{% block description %}Voici la page des exemples de photos de mariage
{% endblock %}

{% block keywords %}exemples, mariage, contact
{% endblock %}

{% block main %}
	{# Contenu perso à modifier :  #}


	<div class="mx-auto col-auto">
		<h2 class="head_text text-center p-3 m-5 border border-dark rounded shadow fs-1">Quelques exemples de ce que nous pouvons vous offrir...</h2>

		<div class="text-center  fs-3 col-auto">
			<p>Voici un test de Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis? Minima nobis laborum fuga praesentium et odit, cum soluta iste maiores, consectetur eligendi quae eum libero laudantium accusamus sit quisquam?</p>
		</div>
	</div>

	<div class="lightbox-gallery">
		<div class="w-75 mx-auto">
			<div class="row photos">
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4 g-3">
					<a href="/Images/1024/wedding-rings.jpg" data-lightbox="photos"><img src="/Images/1024/wedding-rings.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage11.jpg" data-lightbox="photos"><img src="/Images/1024/mariage11.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage2.jpg" data-lightbox="photos"><img src="/Images/1024/mariage2.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/couple.jpg" data-lightbox="photos"><img src="/Images/1024/couple.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage8.jpg" data-lightbox="photos"><img src="/Images/1024/mariage8.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage4.jpg" data-lightbox="photos"><img src="/Images/1024/mariage4.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage10.jpg" data-lightbox="photos"><img src="/Images/1024/mariage10.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/3_wedding-dresses.jpg" data-lightbox="photos"><img src="/Images/1024/3_wedding-dresses.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage3.jpg" data-lightbox="photos"><img src="/Images/1024/mariage3.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage1.jpg" data-lightbox="photos"><img src="/Images/1024/mariage1.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/2_couple.jpg" data-lightbox="photos"><img src="/Images/1024/2_couple.jpg" class="img-fluid img-thumbnail" alt="couple"></a>				
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage6.jpg" data-lightbox="photos"><img src="/Images/1024/mariage6.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage7.jpg" data-lightbox="photos"><img src="/Images/1024/mariage7.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/mariage5.jpg" data-lightbox="photos"><img src="/Images/1024/mariage5.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/wedding.jpg" data-lightbox="photos"><img src="/Images/1024/wedding.jpg" class="img-fluid img-thumbnail" alt="couple"></a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
					<a href="/Images/1024/1_balloons.jpg" data-lightbox="photos"><img src="/Images/1024/1_balloons.jpg" class="img-fluid img-thumbnail" alt="couple"></a>

				</div>

			</div>
		</div>
	</div>


	<div class="text-center  fs-4">

		<p>Voici un test de Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis? Minima nobis laborum fuga praesentium et odit, cum soluta iste maiores, consectetur eligendi quae eum libero laudantium accusamus sit quisquam?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, in?
								Necessitatibus vero doloremque sit enim? Unde, nostrum cum. Omnis, error.
								Omnis quos totam quasi doloremque nesciunt est assumenda labore molestiae.
								Ex fugiat accusantium dolorum. Impedit architecto corporis tempora ducimus autem.
								Provident ipsum quaerat, laborum libero esse eveniet laudantium architecto a!
								Voluptas ullam provident enim eligendi minima quisquam laborum amet earum?
								Soluta aut doloribus veniam quam eius, ullam recusandae sapiente quae?
								Asperiores id voluptates quisquam fugit animi possimus cupiditate excepturi distinctio!
								Distinctio asperiores ducimus et nostrum doloribus. Praesentium quam odit veritatis?
								Officiis debitis distinctio quia accusantium enim, autem possimus iste vitae.
								Dolorum magnam neque itaque modi perferendis rerum sapiente sint distinctio!
								Sed earum, totam hic dolores eligendi cupiditate quod amet explicabo?
								Molestias, ipsum! Accusantium dignissimos impedit nulla ratione odit consequatur ipsum.
								Ea labore accusamus doloribus unde dicta omnis dolorem sit! Ex.
								Excepturi deleniti dolorem molestias laudantium iste accusantium quo rerum illum?
								Aperiam quod corrupti voluptates vitae suscipit placeat nostrum aut tempora?
								Dolores pariatur a labore accusantium impedit voluptatum repellat fugit nobis.
								Reiciendis incidunt doloribus aut facilis autem ut quam tenetur eligendi.
								Unde illo adipisci sapiente incidunt architecto nobis natus qui accusantium!
								Molestias necessitatibus in, rem sequi est sunt eligendi minus facere?</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum excepturi quo tenetur saepe quae enim ipsum omnis laboriosam! Eveniet, aliquid.
								Unde, eum. Numquam, maxime sed sequi voluptas quas inventore nam odit omnis at nobis nemo, a expedita delectus, est repellendus.
								Ea, illum consequuntur nobis dolore enim aspernatur molestiae harum deleniti iure expedita iste quidem, distinctio veniam? Earum nihil iste necessitatibus?</p>
	</div>


{% endblock %}
