{% extends 'themes/base.html.twig' %}

{% block title %}Page d'exemples photo
{% endblock %}

{% block description %}Voici la page des exemples de photos de mariage
{% endblock %}

{% block keywords %}exemples, mariage, contact
{% endblock %}

{% block main %}
	{# Contenu perso à modifier :  #}


	<div class="mx-auto w-75">
		<h2 class="text-center p-3 m-5">Quelques exemples de ce que nous pouvons vous offrir...</h2>


		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage1.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/wedding-rings.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage2.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/couple.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage3.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage1.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage11.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage6.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage7.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage5.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/wedding.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/wedding-rings.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage8.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage4.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4 g-3">
				<img src="/Images/mariage10.jpg" class="img-fluid img-thumbnail" alt="couple" style="max-h-100;">
			</div>


			{# <img src="/Images/couple.jpg" style="max-width: 500px;"alt="couple">
									    <img src="/Images/wedding.jpg" style="max-width: 500px;" alt="mariés">
									    <img src="/Images/wedding-rings.jpg" style="max-width: 500px;" alt="alliances"> #}
		</div>
		<div class="text-center  fs-4">
			<p>Voici un test de Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis? Minima nobis laborum fuga praesentium et odit, cum soluta iste maiores, consectetur eligendi quae eum libero laudantium accusamus sit quisquam?</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, ad!
												    Nam assumenda, animi obcaecati dicta distinctio unde quibusdam necessitatibus reiciendis?
												    Nam quae minima quod cum dolor velit corrupti voluptates explicabo.
												    Iure, iusto corporis. Maxime distinctio numquam odit voluptatum repudiandae quas.
												    Aperiam explicabo quis atque dolor in molestias animi voluptatem eaque?
												    Autem labore repellat adipisci. Eaque fugit corrupti sapiente dolorum explicabo?
												    Dignissimos impedit a aut asperiores rerum et voluptatibus maiores nulla.
												    Ipsam praesentium nam labore.
			</p>
			<p>A adipisci eos fuga quod magni.
							
												    Tempore, temporibus at excepturi sunt dolores consectetur blanditiis praesentium optio!
												    Nostrum, inventore modi deleniti officia fugiat deserunt adipisci animi veritatis?
												    Eum ipsum cupiditate voluptatum atque, autem ad iusto tenetur culpa?
												    Libero exercitationem magni laboriosam, quisquam ea quasi ex aliquid harum?
												    Totam asperiores sunt quisquam quae debitis cupiditate cum hic voluptate?
												    Sed magnam voluptatum ducimus ea quam culpa itaque ipsa ratione?
												    Quisquam nemo magni ducimus sint pariatur placeat laboriosam itaque neque?
												    Nobis quisquam error perferendis minima nihil velit eum aperiam assumenda?
												    Eius vero error rerum repudiandae harum voluptatem numquam temporibus deleniti?
												    Laborum inventore reiciendis quisquam quos cupiditate exercitationem fuga. Nihil, consequatur!
												    Eligendi tenetur porro eum fugit est maxime officiis optio aspernatur?
												    Iusto tempora facilis commodi, doloribus accusamus perferendis beatae repellat explicabo.</p>
		</div>


	{% endblock %}
