{% extends 'themes/base.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block description %}Voici la page d'acceuil de mon projet
{% endblock %}

{% block keywords %}présentation, mariage
{% endblock %}

{% block main %}


	<div class="fs-4">


		<h2 class="head_text text-center p-3 m-5 fs-1 border border-dark rounded shadow">Je suis là pour que votre plus belle journée dure pour l'éternitée !</h2>
		<div class="row">

			<div class="col-auto text-center m-auto">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
				</p>

			</div>

			<div class="col-auto m-auto text-center">
				<img src="/Images/1024/presentation.jpg" class="img-fluid rounded float-left mr-3" alt="Photo mains en coeurs">
			</div>

			<div class="col-auto  text-center m-auto">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
				</p>

			</div>


			<div class="text-center p-3">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, explicabo?
															            Adipisci cum nostrum officia hic ut quis, veritatis sint blanditiis.
															            Iste, deserunt error! Eligendi explicabo excepturi qui culpa illo blanditiis.
															            Saepe nihil iste quam, rerum voluptatem libero quia accusantium aliquam!
															            Facere nesciunt rerum sint quisquam est voluptas animi. Enim, quae.
															            Delectus obcaecati animi aliquid sequi mollitia laboriosam, eligendi aperiam temporibus.
															            Laboriosam id labore veritatis dolorum repellendus in minus laudantium repellat.
															            Magni id delectus atque unde? Recusandae necessitatibus nostrum enim voluptates?
															            A rerum ea voluptatem voluptatibus repellendus magni iusto ad impedit!
															            Sequi doloremque voluptatum accusamus minus aperiam ratione sint aliquid mollitia!</p>
			</div>
			<div class="text-center p-3">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, explicabo?
									Adipisci cum nostrum officia hic ut quis, veritatis sint blanditiis.
									Iste, deserunt error! Eligendi explicabo excepturi qui culpa illo blanditiis.
									Saepe nihil iste quam, rerum voluptatem libero quia accusantium aliquam!
									Facere nesciunt rerum sint quisquam est voluptas animi. Enim, quae.
									Delectus obcaecati animi aliquid sequi mollitia laboriosam, eligendi aperiam temporibus.
					        		Laboriosam id labore veritatis dolorum repellendus in minus laudantium repellat.
									Magni id delectus atque unde? Recusandae necessitatibus nostrum enim voluptates?
									A rerum ea voluptatem voluptatibus repellendus magni iusto ad impedit!
									Sequi doloremque voluptatum accusamus minus aperiam ratione sint aliquid mollitia!</p>
			</div>
		</div>
	{% endblock %}
