 <h1 class="text-center display-5">Bonjour</h1>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant.</p>

<a href="{{ url('visitor_authentification_reset_password', {token: resetToken.token}) }}">{{ url('visitor_authentification_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt !</p>
