{# <div class="lightbox-gallery">
		<div class="w-75 mx-auto">
			<div class="row photos">
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4 g-3">
					<a href="/Images/1024/wedding-rings.jpg" data-lightbox="photos"><img src="/Images/1024/wedding-rings.jpg" class="'img-fluid img-thumbnail'" alt="couple"></a>
					{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					</{# div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage11.jpg" data-lightbox="photos"><img src="/Images/1024/mariage11.jpg" class="img-fluid img-thumbnail" alt="co #}uple"></a>
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage2.jpg" data-lightbox="photos"><img src="/Images/1024/mariage2.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/couple.jpg" data-lightbox="photos"><img src="/Images/1024/couple.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage8.jpg" data-lightbox="photos"><img src="/Images/1024/mariage8.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage4.jpg" data-lightbox="photos"><img src="/Images/1024/mariage4.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage10.jpg" data-lightbox="photos"><img src="/Images/1024/mariage10.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/3_wedding-dresses.jpg" data-lightbox="photos"><img src="/Images/1024/3_wedding-dresses.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage3.jpg" data-lightbox="photos"><img src="/Images/1024/mariage3.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage1.jpg" data-lightbox="photos"><img src="/Images/1024/mariage1.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/2_couple.jpg" data-lightbox="photos"><img src="/Images/1024/2_couple.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage6.jpg" data-lightbox="photos"><img src="/Images/1024/mariage6.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage7.jpg" data-lightbox="photos"><img src="/Images/1024/mariage7.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/mariage5.jpg" data-lightbox="photos"><img src="/Images/1024/mariage5.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/wedding.jpg" data-lightbox="photos"><img src="/Images/1024/wedding.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}
					{# </div>
					<div class="col-lg-3 col-md-4 col-sm-6 gy-3 g-3">
						<a href="/Images/1024/1_balloons.jpg" data-lightbox="photos"><img src="/Images/1024/1_balloons.jpg" class="img-fluid img-thumbnail" alt="couple"></a> #}
						{# bouton modifier / supprimer #}
					{# <div class="text-center">
						<a href="#" class="btn btn-sm btn-secondary">Modifier</a>
						<form class="d-inline" action="#" method="post">

							<input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
						</div> #}

					{# </div> #}

				{# </div> #}
			{# </div> #}
		{# </div> #}
	{# </div>  #}