{% extends 'themes/base.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block description %}Voici la page d'acceuil de mon projet
{% endblock %}

{% block keywords %}présentation, mariage
{% endblock %}

{% block main %}


	<div class="fs-4 ">
		{% if is_granted('ROLE_USER') %}
			<div class="container my-5">
				<div class="row justify-content-center ">
					<div class="col-6">
						<div class="border border-dark rounded text-center head_text fs-2 p-2">

							<a class="nav-link " href="{{ path('user_galleries') }}">Pour voir vos photos : cliquez ici</a>

						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<h2 class="head_text text-center p-3 m-5 fs-1 border border-dark rounded shadow">Capturez l'essence de votre amour avec Jérôme, photographe de mariage passionné</h2>

		<div class="row">


			<div class="col-auto text-center m-auto">
				<h2 class="text-center fs-1 m-5">A propos de nous :</h2>
				<p class="my-5">
					Bienvenue dans l'univers de Jérôme, photographe de mariage expert dans l'art de saisir les moments les plus précieux de votre journée spéciale. Avec un œil aiguisé pour les détails et une sensibilité unique, Jérôme transforme chaque instant en un souvenir impérissable.Depuis plus de 10 ans, Jérôme parcourt la France pour immortaliser l'amour sous toutes ses formes. Son approche mêle habilement le photojournalisme et le portrait artistique, créant ainsi des images à la fois authentiques et esthétiquement sublimes. Chaque photo raconte une histoire, votre histoire...
				</p>

			</div>
			<!-- "div" avec le caroussel -->
			<div class="d-flex justify-content-center">
				<div title="Présentation dynamique" id="carouselExampleAutoplaying" class="carousel slide w-50 w-100-sm" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/Images/Originales/presentation.jpg" class="d-block w-100" alt="L'amour en coeur"/>
						</div>
						<div class="carousel-item">
							<img src="/Images/Originales/1_balloons.jpg" class="d-block w-100" alt="Envollée de ballons"/>
						</div>
						<div class="carousel-item">
							<img src="/Images/Originales/2_couple.jpg" class="d-block w-100" alt="Couple devant un chateau"/>
						</div>
					</div>
					<!-- boutons precedent et suivant du caroussel -->
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Précédent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>
			</div>
			<!-- Fin boutons precedent et suivant du caroussel -->
			{# --------------- Fin de la presentation de la photo principale (creation d'un carroussel???) --------------- #}
			<div class="col-auto  text-center m-auto">
				<p class="my-5">
					Sur ce site, plongez dans une galerie soigneusement sélectionnée de ses plus belles réalisations. Des regards complices aux éclats de rire spontanés, en passant par les détails minutieux de votre décoration, chaque image témoigne de l'engagement de Jérôme à capturer l'essence même de votre journée.</p>
				<p class="my-5">
					<ul>
						<strong>Nos offres :</strong>
						<li class="list-unstyled">- Reportages de mariage sur mesure</li>
						<li class="list-unstyled">- Séances d'engagement pré-mariage</li>
						<li class="list-unstyled">- Albums photo personnalisés de haute qualité</li>
						<li class="list-unstyled">- Tirages d'art pour sublimer votre intérieur</li>
					</ul>
				</p>

				<p class="my-5">Chaque package est conçu pour répondre à vos besoins spécifiques et préserver vos souvenirs pour les générations à venir. Les photos présentées ici ne sont qu'un aperçu du talent de Jérôme. Pour découvrir comment il peut immortaliser votre propre histoire d'amour, n'hésitez pas à le contacter pour un devis personnalisé.</p>

				<p class="my-5 fs-3">Faites confiance à Jérôme pour transformer votre mariage en un récit visuel intemporel. Votre amour mérite d'être capturé dans toute sa splendeur – laissez Jérôme créer la magie pour vous.</p>
			</div>
		{% endblock %}
