{% extends 'themes/base.html.twig' %}

{% block title %}Page d'exemples photo
{% endblock %}

{% block description %}Voici la page des exemples de photos de mariage
{% endblock %}

{% block keywords %}exemples, mariage, contact
{% endblock %}

{% block main %}
<H1>moi meme</H1>

{% endblock %}
