{% extends 'themes/base.html.twig' %}

{% block title %}Attente de confirmation d'email
{% endblock %}

{% block description %}Voici la page d'Attente de confirmation d'email
{% endblock %}

{% block keywords %}présentation, mariage, inscription, email, confirmation
{% endblock %}

{% block main %}
<h2 class="text-center my-5 display-5">Merci de confirmer votre email ...</h2>

<div class="container my-5">
<div class="row">
<div class="col-mg-10 col-8 mx-auto fs-2 text-center">
<p class="shadow p-4">Un mail vous a été envoyer, merci de vérifier votre boite email.
</p></div>
</div>
</div>

{% endblock %} 