{% extends "themes/base.html.twig" %}
{% block title %}Espace utilisateur
{% endblock %}
{% block description %}Espace utilisateur
{% endblock %}

{% block main %}
	<div class="fs-4">
		<h2 class="head_text text-center p-3 m-5 fs-1 border border-dark rounded shadow">Bienvenu sur la page donnant acces a vos photos :
			{{app.user.firstName}}
			!</h2>
			
	{% endblock %}
