<footer	class="head_text text-center">
	<!-- Grid container -->
	<div class="container">
		<!-- Section: liens vers les differents réseaux ou est présent le photographe -->
		<section
			class="mt-3">
			{# Facebook #}
			<a class="p-2 " href="https://www.facebook.com/" role="button" data-mdb-ripple-color="dark" target="blank">
				<i class="fab fa-facebook-f"></i>
			</a>

			{# Twitter #}
			<a class="p-2  " href="https://twitter.com/?lang=fr" role="button" data-mdb-ripple-color="dark" target="blank">
				<i class="fab fa-twitter"></i>
			</a>

			{# Google #}
			<a class="p-2  " href="https://www.google.fr/" role="button" data-mdb-ripple-color="dark" target="blank">
				<i class="fab fa-google"></i>
			</a>

			{# Instagram #}
			<a class="p-2  " href="https://www.instagram.com/" role="button" data-mdb-ripple-color="dark" target="blank">
				<i class="fab fa-instagram"></i>
			</a>

			{# Linkedin #}
			<a class="p-2  " href="https://www.linkedin.com" role="button" data-mdb-ripple-color="dark" target="blank">
				<i class="fab fa-linkedin"></i>
			</a>

		</section>{# Fin de section: liens vers les differents réseaux ou est présent le photographe #}
		</div>
		{# Copyright #}
		<div class="text-center pb-2 lead fs-5">
			<p class="copyright p-2 ">
				<a href="" data-bs-toggle="modal" data-bs-target="#modal_cgv">©️ 2024 Copyright: Photographer / Nos conditions générales</a>
			</p>
		</div>{# Fin du Copyright #}
			
	</div>
</footer>